/*Estilos del terrarium*/
h1 {
   color:#92df9e;
   text-align: center;
}
/*.Crear clase código*/
.container{     
    background-color: #eee;
    width: 15%;
    height: 100%;
    top: 10px;
    position: absolute; /* posicion absoluta tiene como caracteristicas */
    padding:10px;
    border: 3px;     /* solo son para vizualizar los movimientos*/
    border-style:dashed;
    border-color: #ba8ae7; 
}
/* ID se representa con el #*/
#left-container 
{
    left: 0px;
}
/* ID se representa con el #*/
#right-container 
{
    right: 15px;
}
.plant-holder{ /*contenederores de las plantas*/
    position: relative;  
    height: 13%;
    left: -10px;
    border: 3px;     /* solo son para vizualizar los movimientos*/
    border-style:dashed;
    border-color: #dee78a;
}
.plant{ /*plantas*/
    position:absolute;
    /*tamaño de la imagen*/
    max-width: 100%;  /*150*/
    max-height: 100%;
    z-index: 2;
}
